$black: #000;
$black_page: #11213F;
$black_page_1: #0b0b0b;
$black_page_2: #021740;
$purple: #df99f2fa;
$white: #ffffff;
$white_1: #ffffff00;
$white_hover1: #ffffffe5;
$white_hover2: #ffffffb9;
$grey: #9E91B7;
$pink1: #f2cef2f5;
$pink: #f2cef27c;
$bleu: #07338C;
$bleu_hover: #3d2da6;
$bleu_deep1: #021740be;
$bleu_deep2: #021740;
$red: #ff0000;